<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnOhce1BoyfcCKcgSpCbPVeCQzr8JzPUM</string>
	<key>GCM_SENDER_ID</key>
	<string>604564869146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyenloi.pdfAudioReader</string>
	<key>PROJECT_ID</key>
	<string>pdf-audio-reader-443</string>
	<key>STORAGE_BUCKET</key>
	<string>pdf-audio-reader-443.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604564869146:ios:8e89b48ee19bf57fd741a3</string>
</dict>
</plist>